
/* 천생배필 stylesheet */
	#blockgrid{
	display: grid;
	grid-template-columns:200px 1fr;
	}
	
	h1{
	font-size:60px;
	border-bottom:3px solid gray;
	padding:40px;
	margin:0;
	}
	
	#blockgrid ol{
	border-right:2px solid gray;
	padding:20px;
	margin:0;
	}
	
	span{
	font-size:25px;
	}
	
	.main{
	padding:20px;
	border-left:1px solid gray;
	}

	.manager{
		font-size:25px;
		font-weight:bold;
		margin-left:30px;
	}
body{
	font-family:"바탕", batang, "times new roman", serif;
 /* 천생배필 간부진 stylesheet */
	.present{
		color:gray;
	}
	.non-underline{
		color:purple;
		text-decoration:none;
	}
