
/* 천생배필 stylesheet */
	#blockgrid{
	display: grid;
	grid-template-columns:200px 1fr;
	}
	
	h1{
	font-size:60px;
	border-bottom:3px solid gray;
	padding:40px;
	margin:0;
	}
	
	span{
	font-size:25px;
	}
	



	.manager{
		font-size:25px;
		font-weight:bold;
		margin-left:30px;
	}
	.leftcontents{
		margin: 0px;
		margin-left:-30px;
		border-right:2px solid gray;
		padding:0px;
		padding-left: -10px;
		margin:0;
	}

	#maintext{
		padding-left: 15px;
		display: inline;
	}
	#text{
		display:inline;
	}
	.leftcontents{
		margin:0px;
		margin-left:10px;
	}
	.content{
		border-left: 2px solid gray;
		margin:0px;
		padding:20px;
	}

body{
	font-family:"바탕", batang, "times new roman", serif;
	color:black;
	text-decoration:none;

 /* 천생배필 간부진 stylesheet */
	#present{
		color:gray;
	}
	#non-underline{
		color:green;
		text-decoration:none;
	}
	#MgrLefCon{
		margin: 0px;
		margin-left:10px;
		padding:20px;
		margin:0;
	}
